<%- include('partials/header') -%>
<!-- // TODO: to modify the content of about page -->

<body class="about_page">
  <div class="container page_container">
    <h1>About</h1>
    <p><%=about_para%></p>
  </div>
  <%- include('partials/footer') -%>
