<%- include('partials/fb_style') %>

<div class="container">
  <h1 class="emoji">\(◠‿◠)/</h1>
  <h1>Success</h1>
  <!-- ================== feedback ======================== -->
  <h5>Your mail has been noted successfully. Thank you for contacting!</h5>
  <form action="/success" method="post">
    <button class="btn btn-success" type="submit" name="button">Go back to home page</button>
  </form>
</div>

</body>

</html>
