body {
  background-color: #d8e3e7;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.container{
  padding:  100px 60px;
}

h1.emoji {
  font-size: 2rem;
  padding: 20px;
  color: #454746
}
h1, h5{
  color:#222;
}

/* TODO:  */
/* 1.delete confirm
3.sign in option
4.about us content
5.main page content
6.starting files foe db */
